server:
  port: 8080

spring:
  application:
    name: management-system
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/dormitory?useUnicode=true&characterEncoding=utf-8&useSSL=false&serverTimezone=GMT%2B8
    username: root
    password: 111111
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: GMT+8
  servlet:
    multipart:
      max-file-size: 30MB
      max-request-size: 30MB
  # 邮件配置
  mail:
    host: smtp.163.com 
    port: 465  # 163邮箱SSL端口
    username: dong3514684799@163.com  # 发件人邮箱
    password: GFsFe346RLTjJCLs  # 邮箱授权码（不是邮箱密码）
    properties:
      mail:
        smtp:
          auth: true
          ssl:
            enable: true
            required: true
          socketFactory:
            class: javax.net.ssl.SSLSocketFactory
            port: 465
    default-encoding: UTF-8

# 文件上传配置
file:
  upload-path: F:\pj\BOOK\backend\upload\  # 文件存储路径
  access-url: http://localhost:8080/  # 文件访问URL前缀

# Springdoc配置
springdoc:
  api-docs:
    enabled: true
    path: /v3/api-docs
  swagger-ui:
    enabled: true
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: alpha
  packages-to-scan: com.example.controller
  paths-to-match: /api/**

mybatis-plus:
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
    map-underscore-to-camel-case: true
  global-config:
    db-config:
      logic-delete-field: deleted
      logic-delete-value: 1
      logic-not-delete-value: 0
